.fiche-de-logement {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  & .title-location-tags-div {
    & .titre-de-logement {
      color: #ff6060;
      font-size: 36px;
      margin: 0;
      font-weight: 500;
    }
    & .localisation {
      font-size: 18px;
    }
    & .tags {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin: 0;
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ff6060;
        height: 25px;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 700;
        color: white;
        border-radius: 10px;
      }
    }
  }

  & .rating-host-div {
    display: flex;
    flex-direction: column;

    & .rating {
      font-size: 24px;
      order: 2;
      margin: auto;
      & .star-icon {
        display: inline-block;
        margin-left: 8px;
      }

      & .orange-star {
        color: #ff6060;
      }
      & .grey-star {
        color: #e3e3e3;
      }
    }
    & .host-div {
      display: flex;
      justify-content: end;
      align-items: center;
      order: 1;

      & .host-name {
        color: #ff6060;
        font-size: 18px;
        text-align: end;
        white-space: pre-wrap;
        padding-right: 12px;
      }
      & .host-pic {
        border-radius: 100%;
        height: 64px;
        width: 64px;
        /* align-self: center; */
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tags {
    & li {
      min-width: 115px;
    }
  }
}

@media screen and (max-width: 767px) {
  .fiche-de-logement {
    flex-direction: column;

    & .title-location-tags-div {
      & .titre-de-logement {
        font-size: 18px;
      }
      & .localisation {
        font-size: 14px;
      }
      & .tags {
        & li {
          font-size: 10px;
          height: 18px;
          min-width: 84px;
          margin-bottom: 2px;
        }
      }
    }

    & .rating-host-div {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px;

      & .rating {
        order: 1;
        font-size: 13px;
        margin: auto 0;
        & .star-icon {
          margin-left: 0px;
          margin-right: 8px;
        }
      }
      & .host-div {
        order: 2;
        & .host-name {
          font-size: 12px;
        }
        & .host-pic {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
