.fiche-de-logement {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  & .title-location-tags-div {
    & .titre-de-logement {
      color: #ff6060;
      font-size: 36px;
      margin: 0;
      font-weight: 500;
    }
    & .localisation {
      font-size: 18px;
    }
    & .tags {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ff6060;
        width: 115px;
        min-height: 25px;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 700;
        color: white;
        border-radius: 10px;
      }
    }
  }

  & .rating-host-div {
    display: flex;
    justify-content: space-between;

    & .rating {
      font-size: 18px;
    }
    & .host-div {
      display: flex;
      justify-content: space-between;

      & .host-name {
        color: #ff6060;
        font-size: 18px;
        white-space: pre-wrap;
        padding-top: 10%;
        padding-right: 10px;
      }
      & .host-pic {
        border-radius: 50px;
        height: 64px;
        width: 64px;
        /* align-self: center; */
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .fiche-de-logement {
    width: 90%;
    margin: auto;

    .un {
      flex-direction: column;

      & .deux {
        & .titre-de-logement {
          font-size: 18px;
        }

        & .localisation {
          font-size: 14px;
        }
      }

      & .trois {
        & .nom-host-de-logement {
          font-size: 12px;
        }
        & .img-host-de-logement {
          width: 32px;
          height: 32px;
        }
      }

      & .quatre {
        & li {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1290px) {
  .un {
    flex-direction: column;
  }
}
