.home {
  max-width: 1240px;
  margin: auto;
  & .line-break {
    display: inline;
  }
}

/*  position: absolute;
    top: 25%;
    left: 20%; // pourla hauteur % c ok, pour largeur vaux mieux px
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translate(-50%); */

@media screen and (max-width: 767px) {
  .home {
    margin: 1.2em;
    padding: 0;
    & .line-break {
      display: block; /* Force le retour à la ligne sur mobile */
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1390px) {
  .home {
    width: 90%;
  }
}
