.home {
    padding: 0em 5em 3em 5em;
    max-width: 1240px;
    margin: auto;
}

/*  position: absolute;
    top: 25%;
    left: 20%; // pourla hauteur % c ok, pour largeur vaux mieux px
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translate(-50%); */


@media screen and (max-width: 767px){
    .home {
        margin: 1.2em;
        padding: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}