.fiche-du-logement {
  max-width: 1240px;
  margin: auto;

  & .div-description-equipements {
    display: flex;
    justify-content: space-between;

    & .collapse {
      width: 36rem;
      margin: 30px 0px;

      & h2 {
        font-size: 18px;
      }

      & .collapse-content {
        font-weight: 400;
        font-size: 18px;

        & li {
          font-weight: 400;
        }
      }
    }
  }
}
