.page-logement {
  max-width: 1240px;
  width: 90%;
  margin: auto;

  & .div-description-equipements {
    display: flex;
    justify-content: space-between;

    & .collapse {
      & h2 {
        font-size: 18px;
      }

      & .collapse-content {
        font-weight: 400;
        font-size: 18px;

        & li {
          font-weight: 400;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .div-description-equipements {
    & .collapse {
      width: 36rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .page-logement {
    width: 90%;

    & .div-description-equipements {
      flex-direction: column;
      margin: auto;
    }
  }
}
