.carousel-item {
  width: 1240px;
  height: 412px;
  position: relative;

  & .img-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  & .carousel-button {
    position: absolute;
    height: 2rem;

    & .svg-inline--fa {
      color: white;
      font-size: 79.2px;
      cursor: pointer;
    }
  }

  & .prev-button {
    left: 1rem;
    top: 10rem;
  }

  & .next-button {
    right: 1rem;
    top: 10rem;
  }

  & .compteur-de-photo {
    position: absolute;
    font-size: 18px;
    left: 50%;
    bottom: 24px;
    color: white;
  }
}
@media screen and (max-width: 767px) {
  .carousel-item {
    width: 90%;
    height: 255px;
    margin: auto;

    & .img-slide {
      border-radius: 10px;
    }
    & .carousel-button {
      top: 7rem;

      & .svg-inline--fa {
        height: 24px;
      }
    }
  }
}
