.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  max-width: 1240px;
  margin: auto;

  & .lmj-logo {
    width: 210px;
  }
  & nav {
    align-content: center;

    & .nav-ul {
      display: flex;
      list-style-type: none;

      & .nav-li {
        align-items: center;

        & .nav-link {
          font-size: 24px;
          color: #000000;
          text-decoration: none;
          padding: 0; /* j'ai du ajouter ça à cause de bootstrap */
          display: inline; /* j'ai du ajouter ça à cause de bootstrap */
          &:hover {
            text-decoration: underline;
            text-decoration-thickness: 0.1em;
          }
          &:visited {
            text-decoration: dotted;
          }
        }
        & .nav-link.apropos {
          padding: 0 0 0 57px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0;
    max-width: 100%;
    margin: 1.2em;
    margin-bottom: 2em;

    & .lmj-logo {
      padding-right: 0px;
      width: 145px;
      height: auto;
    }

    & nav {
      & .nav-ul {
        margin: 0;

        & .nav-li {
          align-items: center;

          & .nav-link {
            font-size: 12px;
            text-transform: uppercase;
          }
          & .nav-link.apropos {
            padding-left: 26px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1390px) {
  .header {
    width: 90%;
  }
}
